<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include('../partials/header') %>
        <section class="books-on-shelf">
            <div id="stack-container">
                <div class="book-in-stack" id="book-1"></div>
                <div class="book-in-stack" id="book-2">
                    <a href="/books"><button id="stack-button"> ALL THE BOOKS </button></a>
                </div>
                <div class="book-in-stack" id="book-3"></div>
            </div>

		<img
			src="images/small-plant.png"
			alt="a small cartoon pothos plant in a brown pot"
			id="small-plant"
		/>

		<div id="stack-container">
			<div class="book-in-stack" id="book-1"></div>
			<div class="book-in-stack" id="book-2">
				<a href="stacks/new"><button id="stack-button"> ADD A STACK</button></a>
			</div>
			<div class="book-in-stack" id="book-3"></div>
		</div>
    </section>
		<div class="shelf"></div>    
    <section class="books-on-shelf">
        <div id="stack-container">
			<div class="book-in-stack" id="book-1"></div>
			<div class="book-in-stack" id="book-2">
				<a href="/stacks/<%= stacks[0]._id %>"><button id="stack-button"> 
					<%  if(stacks[0]){ %>
					<%= stacks[0].name.toUpperCase()%>
					<% }else {%>
					NO STACK HERE
					<% } %>
				</button></a>
			</div>
			<div class="book-in-stack" id="book-3"></div>
		</div>
		<div id="stack-container">
			<div class="book-in-stack" id="book-1"></div>
			<div class="book-in-stack" id="book-2">
				<button id="stack-button"> 
					<%  if(stacks[1]){ %>
					<%= stacks[1].name.toUpperCase()%>
					<% }else {%>
					NO STACK HERE
					<% } %>
				</button>
			</div>
			<div class="book-in-stack" id="book-3"></div>
		</div>
    </section>
		<div class="shelf"></div>
		<section class="books-on-shelf">
            <div id="stack-container">
			<div class="book-in-stack" id="book-1"></div>
			<div class="book-in-stack" id="book-2">
				<button id="stack-button"> 
					<%  if(stacks[2]){ %>
					<%= stacks[2].name.toUpperCase()%>
					<% }else {%>
					NO STACK HERE
					<% } %>
				</button>
			</div>
			<div class="book-in-stack" id="book-3"></div>
		</div>
		<div id="stack-container">
			<div class="book-in-stack" id="book-1"></div>
			<div class="book-in-stack" id="book-2">
				<button id="stack-button"> 
					<%  if(stacks[3]){ %>
					<%= stacks[3].name.toUpperCase()%>
					<% }else {%>
					NO STACK HERE
					<% } %>
				</button>
			</div>
			<div class="book-in-stack" id="book-3"></div>
		</div>
		<div id="stack-container">
			<div class="book-in-stack" id="book-1"></div>
			<div class="book-in-stack" id="book-2">
				<button id="stack-button"> 
					<%  if(stacks[4]){ %>
					<%= stacks[4].name.toUpperCase()%>
					<% }else {%>
					NO STACK HERE
					<% } %>
				</button>
			</div>
			<div class="book-in-stack" id="book-3"></div>
		</div>
    </section>
		<div class="shelf"></div>
		<img
            class="large-plant-all-pages"
			src="images/large-plant.png"
			alt="a large cartoon monstera plant in a blue pot"
		/>
		<%- include("../partials/footer") %>
	</body>
</html>
